/* -------- Global Settings -------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.signup-container {
    width: 400px;
    margin: 72px auto; /* قللنا المسافة من فوق وتحت */
    padding: 20px; /* قللنا البادينج */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.signup-container h2 {
    color: #333;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    gap: 8px; /* بدل 15px خليه 8px */
}

.signup-container label {
    text-align: left;
    font-weight: bold;
    color: #333;
    font-size: 14px; /* صغرنا حجم الخط */
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="tel"],
.signup-container input[type="number"],
.signup-container input[type="password"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.signup-container .button {
    padding: 8px 16px;
    background-color: #8d1e1e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

.signup-container .button:hover {
    background-color: #600b0b;
}

.text-danger {
    color: red;
    font-size: 11px;
    text-align: left;
}


/* Responsive Design */
@media (max-width: 600px) {
    main {
        width: 90%;
    }

    .dob {
        flex-direction: column;
    }

    .dob select {
        width: 100%;
        margin-bottom: 10px;
    }
}
