body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.dashboard-container {
    flex: 3;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.summary {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(153, 0, 31);
    color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

.action-link {
text-decoration: none;
padding: 6px 12px;
margin-right: 8px;
border-radius: 4px;
font-size: 14px;
transition: background-color 0.3s ease;
}
.action-link.edit {
background-color: #28a745;
color: #fff;
}
.action-link.edit:hover {
background-color: #218838;
}
.action-link.delete {
background-color: #dc3545;
color: #fff;
}
.action-link.delete:hover {
background-color: #c82333;
}

.no-data {
    text-align: center;
    padding: 20px;
    color: #777;
}

